{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
<div class="container">
{% for message in app.flashes('notice') %}
<div class="alert alert-success mt-4 mb-b">
	</div>
{% endfor %}
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in data %}
    <tr>
      <th scope="row">{{ customer.id }}</th>
      <td>{{ customer.Name }}</td>
      <td>{{ customer.Email }}</td>
      <td>
          {% if customer.cart %}
          <a class="btn btn-info" href="{{ path('view_customer_cart', {'id':customer.id}) }}">View Cart</a>
          {% endif %}
	<a class="btn btn-warning" href="{{ path('update_customer',{'id':customer.id }) }}">Update</a>
	<a class="btn btn-danger" href="{{ path('delete_customer',{'id': customer.id }) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <a class="btn btn-info" href="{{ path('create_customer',{}) }}">Add Customer</a>
</div>
{% endblock %}
